@import "/src/var";
.main {
  max-width: 1440px;
  width: 100%;
  // height: 85vh;
  height: 2000px;
  margin: 0 auto;
  margin-top: 80px;
}
.main_wrapper {
  background-color: rgb(187, 138, 234);
  margin: 0 5px;
  border-radius: 10px;
  height: 100%;
}
.welcome_screen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  height: 90vh;
}
.portfolio_information {
  border: black 1px solid;
  width: 80%;
  height: 75%;
}
.portfolio_top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .portfolio_img {
    width: 220px;
    height: 220px;
    background-color: blue;
    border-radius: 50%;
    margin-right: 30px;
  }
  .portfolio_block {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-size: 36px;
    }
    h3 {
      font-size: 26px;
    }

    .portfolio_links {
      display: flex;
      flex-direction: row;
      width: 100%;
      border: black 1px solid;
      justify-content: space-between;
      li {
        list-style-type: none;
      }
    }
  }
}
