@import "/src/var";
.main {
  max-width: 1440px;
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  margin-top: 80px;
}
.main_wrapper {
  margin: 0 5px;
  border-radius: 10px;
  height: 100%;
}
