@import "/src/var";
.welcome_screen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $main-color;
  // height: 95vh;
  height: fit-content;
  border-radius: 10px;
}
.portfolio_information {
  width: 80%;
  height: 90%;
  margin-top: $main-margin-top;
}
.portfolio_top {
  //background-color: cadetblue;
  width: $width-main;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .portfolio_img {
    width: 220px;
    height: 220px;

    margin-right: 30px;
    img {
      width: 220px;
      border-radius: 50%;
      @media (max-width: 460px) {
        width: 150px;
      }
    }
  }
  .portfolio_block {
    // background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-size: 46px;
      color: $white-color;
      @media (max-width: 460px) {
        font-size: 36px;
      }
    }
    h3 {
      font-size: 26px;
      color: $white-color;
    }

    .portfolio_links {
      display: flex;
      flex-direction: row;
      width: 100%;
      border: black 1px solid;
      justify-content: space-around;
      li {
        list-style-type: none;
        img {
          width: 40px;
        }
      }
    }
  }
}

.portfolio_bottom {
  width: $width-main;
  margin: 0 auto;
  margin-top: $main-margin-top;
  // border: black 1px solid;
  height: fit-content;
  .buttons {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: $main-margin-top;
    button {
      height: $button-height;
      width: $button-width;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-size: 22px;
      border-radius: 10px;
      border: none;

      img {
        width: 30px;
      }
    }
  }
}
