@import "/src/var";
.footer {
  height: 80px;
  margin-top: 10px;
  max-width: 1440px;
  width: 100%;
  margin-bottom: 0;
}
.footer_wrapper {
  background-color: $main-color;
  border-radius: 10px;
  height: 100%;
  margin: 0 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.block_1 {
  margin-left: $margin-left-header;

  h1 {
    color: $white-color;
  }
}
.block_2 {
  img {
    width: 40px;
    filter: invert(100%);
  }
}
.block_3 {
  margin-right: $margin-left-header;
  h3 {
    color: $white-color;
    font-size: 24px;
  }
}
