@import "/src/var";
.footer {
  height: 80px;
  margin-top: 10px;
  max-width: 1440px;
  width: 100%;
  margin-bottom: 0;
}
.footer_wrapper {
  background-color: rgb(234, 234, 159);
  border-radius: 10px;
  height: 100%;
  margin: 0 5px;
}
