$white: #f7f7f7;

$width-main: 90%;
$main-margin-top: 30px;
$main-color: #171718;
$white-color: #ffffff;
$background-color: #5f5f64;
$margin-left-header: 30px;
$button-width: 420px;
$button-height: 55px;
